<?xml version="1.0" encoding="UTF-8"?>
<odoo>


    <menuitem id="school_menu"
              name="school"
    />

    <menuitem id="student_menu"
              name="Student"
              parent="school_menu"
              action="student_action"
    />

    <menuitem id="teacher_menu"
              name="Teacher"
              parent="school_menu"
              action="teacher_action"
    />
    <menuitem id="query_menu"
              name="Query"
              parent="school_menu"
              action="query_action"
    />
    <menuitem id="suggestion_menu"
              name="Suggestion"
              parent="school_menu"
              action="suggestion_action"
    />

</odoo>
